doctype html
html
	head
		title Node.js Chat Server
		meta(name="author", content="Stephen Braitsch")
		meta(name="description", content="A Node.js Chat Server using Socket.IO over multiple subdomains")
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
	body
		.github-fork-ribbon-wrapper.right(style='margin-top:40px;')
			.github-fork-ribbon(style='background-color: #333;')
				a(href="http://github.com/braitsch/sub.socket.io") View On Github
	block content
	block scripts